html {
    background-color: black;
    color: white;
}

body {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    background-color: beige;
    display: inline-block;
}

.o {
    position: relative;
    color: black;
}

.o:after {
    position: absolute;
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
    color: black;
}

.x:after {
    position: absolute;
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#btn-reset {
    width: 316px;
    height: 25px;
    color: black;
    font-weight: 800;
    background-color: rgb(250, 175, 64);
    border: none;
    cursor: pointer;
}